
<h2>Employee Details</h2>
<h3>Id: {{emp.id}}</h3>
<h3>Name: {{emp.name}}</h3>
<h3>Salary: {{emp.salary}}</h3>
<!--<h3 *ngIf="status">permanent:{{emp.permanent}}</h3> (when we use permanent as a string)-->
<h3 *ngIf="emp.permanent">permanent:yes</h3>
<h3>Department Id: {{emp.department.id}}</h3>
<h3>Department Name: {{emp.department.name}}</h3>
<h3>Skills</h3>
<table>
    <tr>
    <th>Skill Id</th>
    <th>Skill Name</th> 
    </tr>
    <tr *ngFor="let emp of emp.skill">
        <td>{{emp.skill_id}}</td>
        <td>{{emp.skill_name}}</td>
    </tr>
</table>
<h3>Date of Birth: {{emp.dateofbirth }}</h3>
